html {
  height: 100%;
}


body{
  color: white;
  font-family: serif;
  font-size: 27px;
  border-style: solid;
  border-color: white;
  border-width: thin;
  margin: 3%;
  background: linear-gradient(antiqueWhite, hotPink, indigo, #1d0033);
  background-size: cover;
  height: 93%;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: white;
  border-width: thin;
  margin: 3%;
  padding: 3%;
  background-image: url("../assets/zebratile.png");
  background-repeat: repeat;
  background-size: 40%;
  text-shadow: 1px 1px #1d0033;
  opacity: 0.8;
  height: 10%;
}

/*header div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 27pt;
  position: absolute;
}*/

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: white;
  border-width: thin;
  margin: 3%;
  padding: 3%;
  background-image: url("../assets/zebratile.png");
  background-repeat: repeat;
  background-size: 40%;
  text-shadow: 1px 1px #1d0033;
  opacity: 0.8;
  height: 10%;
}

nav div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: white;
  border-width: thin;
  margin: 3%;
  padding: 3%;
  background: radial-gradient(black 100%, white 0%);
  transition: all 1s ease-out;
  box-shadow: 20px 20px rgba(75,0,130,.5);
  opacity: 0.9;
}

nav div:hover {
  transform: skew(20deg);
  box-shadow: 20px 20px 0 rgba(75,0,130,.5);
}

nav div:active {
  transform: skew(-180deg);
  box-shadow: rgba(75,0,130,.5);
}

main div:hover {
  transform: skew(20deg);
}

main div:active {
  transform: skew(-180deg);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: white;
  border-width: thin;
  margin: 3%;
  padding: 3%;
  background-image: url("../assets/zebratile.png");
  background-repeat: repeat;
  background-size: 40%;
  text-shadow: 1px 1px #1d0033;
  opacity: 0.8;
  height: 10%;
}

main div {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: white;
  border-width: thin;
  margin: 3%;
  padding: 3%;
  background: radial-gradient(black 100%, white 0%);
  transition: all 2s ease-out;
  box-shadow: 20px 20px rgba(75,0,130,.5);
  opacity: 0.8;
}

/*main div {
  float: right;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: white;
  border-width: thin;
  margin: 3%;
  padding: 3%;
  background: radial-gradient(black 100%, white 0%);
  transition: all 2s ease-out;
  box-shadow: 20px 20px rgba(75,0,130,.5);
  opacity: 0.8;
}*/

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: white;
  border-width: thin;
  margin: 3%;
  padding: 3%;
  background-image: url("../assets/zebratile.png");
  background-repeat: repeat;
  background-size: 40%;
  text-shadow: 1px 1px #1d0033;
  opacity: 0.8;
  height: 10%;
}
